<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVxYl6Q1N8Hrkn-qxETFrww6tTDgQ5dn8</string>
	<key>GCM_SENDER_ID</key>
	<string>55921185946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.evgo</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-68732</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-68732.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55921185946:ios:b48e4386f00b40684e7b23</string>
</dict>
</plist>